/* Adjusts the Padding of the Main Screen */
.tw-flex {
    padding: 0rem 1rem 0rem 1rem;
}

.grouped-section {
    background-color: #ffffff;
    border: 1px solid #e5e7eb; /* light gray border to match Bootstrap lines */
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
}

.man-control {
    margin: 0rem 1rem 0rem 0rem;
}

.loc-control {
    margin: 0rem 0rem 1rem 0rem;
}

.pad-danger {
    margin: 0.5rem 0rem 1rem 0rem !important;
}